@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
.bones-station-container {
	height: 100%;
	display: flex;
	flex-direction: row;
}
.doctor-img {
	object-fit: cover;
	height: 100%;
	width: auto;
}
.bones-station-content {
	width: 100%;
	padding: 16px;
}
.bones-station-card {
	/* background-color: rgba(255, 255, 255, 0.63); */
	border-radius: 20px;
	height: 95%;
	width: 97%;
	padding: 16px 16px 0 16px;
}

.bones-character-container {
	height: 20vmin;
	width: 20vmin;
	padding: 12px;
	margin-left: 20px;
	background-color: #104b6d;
	border-radius: 50%;
}
.x-ray {
	height: 40vh;
}

.patient-name {
	padding: 12px;
	margin-left: 20px;
	font-size: 1.5rem;
	text-align: center;
	color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
}

.imessage {
	border-radius: 20px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 90%;
	font-size: 1.5rem;
	margin: 0 0 1rem auto;
	padding: 0.5rem 1.5rem;
}

.imessage p {
	border-radius: 1.15rem;
	line-height: 1.25;
	max-width: 100%;
	padding: 0.5rem 0.875rem;
	position: relative;
	word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
	bottom: -0.1rem;
	content: "";
	height: 1rem;
	position: absolute;
}

p.from-me {
	align-self: flex-end;
	background-color: #248bf5;
	color: #fff;
}

p.from-me::before {
	border-bottom-left-radius: 0.8rem 0.7rem;
	border-right: 1rem solid #248bf5;
	right: -0.35rem;
	transform: translate(0, -0.1rem);
}

p.from-me::after {
	background-color: #fff;
	border-bottom-left-radius: 0.5rem;
	right: -40px;
	transform: translate(-30px, -2px);
	width: 10px;
}
